 /*==========================================================================

   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)

   ========================================================================== */  


html,

button,

input,

select,

textarea {

    color: #444444;

}



body {

    font-size: 1em;

    line-height: 1.4;

}

.portfolio-page #content {
	margin-bottom: 100px;
	display: block;
} 

::-moz-selection {

    background: #b3d4fc;

    text-shadow: none;

}



::selection {

    background: #b3d4fc;

    text-shadow: none;

}



h2{

	font-size: 2em;

}



hr {

    display: block;

    height: 1px;

    border: 0;

    border-top: 1px solid #ccc;

    margin: 1em 0;

    padding: 0;

}



img {

    vertical-align: middle;

}



fieldset {

    border: 0;

    margin: 0;

    padding: 0;

}



textarea {

    resize: vertical;

}



.chromeframe {

    margin: 0.2em 0;

    background: #ccc;

    color: #000;

    padding: 0.2em 0;

}





/* ===== Initializr Styles ==================================================

   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template

   ========================================================================== */



body {

    font: 16px/26px Helvetica, Helvetica Neue, Arial;

}



.wrapper {

    width: 90%;

    margin: 0 5%;

}



/* ===============

    ALL: IE Fixes

   =============== */





/* ==========================================================================

   Author's custom styles

   ========================================================================== */

   



 img {
    display: block;
	position: relative;

}



.underline{

	border-bottom: 1px dashed #D6D6D6;

}

  

.defaultLink{

	text-decoration: underline;

	-webkit-transition: all 0.1s ease-in;

	-moz-transition: all 0.1s ease-in;

	transition: all 0.1s ease-in;

}



 .defaultLink:hover{

	color: #929292;

	-webkit-transition: all 0.1s ease-in;

	-moz-transition: all 0.1s ease-in;

	transition: all 0.1s ease-in;

}

   

html {

	background-image: url(../images/htmlBg.jpg);

} 



body{

	padding: 0;

	margin: 0;

}



.grey-background {

    background-color: #f0f0f0;

    padding: 9px 0 53px;

}



.darkgrey-background {

    background: #f7f7f7 none repeat scroll 0 0;

	overflow: hidden;

}



.darkgrey-background .main-container{

	margin-bottom: 40px;

}



.titel{

	margin-bottom: 0px;

	font-size: 3em;

	letter-spacing: 2px;

	font-family: "lowveticaregular";

	margin-top: 60px;

	margin-left: 95px;

	line-height: 1;

	display: block;

	position: relative;

	transition: 1s ease all;

}



@media only screen and (max-width: 1024px){ 

	.titel {

		margin-left: 165px;

	}

 }



 @media only screen and (max-width: 640px){ 

	.titel {

		font-size: 38px;

	}

 }



 @media only screen and (max-width: 480px){ 

	.titel {

		margin-bottom: 50px;

		margin-left: 150px;

	}

 }



.titel:before{

	content: "";

	width: 153px;

	height: 153px;

	display: block;

	border-radius: 100%;

	background: #ffffff;

	position: absolute;

	background: url(../images/bjorn.png) no-repeat center center;

	-webkit-background-size: cover;

	-moz-background-size: cover;

	-o-background-size: cover;

	background-size: cover;

	left: -165px;

	top: -40px;

}



.subtitle {

    color: #6b6b6b;

    display: inline-block;

    font-family: Verdana,Geneva,sans-serif;

    font-size: 18px;

    font-weight: 100;

    margin-bottom: 40px;

	margin-left: 106px;

    transform: translateY(-10px);

	line-height: 1;

	transition: 1s ease all;

}



 @media only screen and (max-width: 1024px){ 

	.subtitle {

		margin-left: 170px;

	}

 }



 @media only screen and (max-width: 480px){ 

	.subtitle {

		display: none;

	}

 }



.hiddenScroll {

	background: none;	

}



body .header-container header {

	position: fixed;

	height: 70px;

	top: 0;

	z-index: 100;

}



.header-container .showScrollContainer {

	background-color: #82d3b2; 

	padding-top: 10px;

	box-shadow: 0 1px 2px -1px #1a4842;

}



.menu-content{

	margin: 0 auto;

	max-width: 1160px;

	min-width: 10px;

}



.wrapper {

    margin: 0 auto;

}



.contactSection{

	color: #6B6B6B;

	font-size: 16px;

}



.slider {

	padding-top: 50px;

}



@media only screen and (max-width: 1050px) {

	.slider {

		max-width: 80%;

		margin-left: 10%;

	}

}





@media only screen and (max-width: 850px) {

	.slider {

		max-width: 100%;

		margin-left: 0;

	}

}

.inner article {
	position: relative;
}

.slider-link__content {
	max-width: 500px;
	margin: 0 auto;
	display: inline-block;
	color: #fff;
	position: absolute;
	text-align: center;
	bottom:	40%;
	left: 0;
	right: 0;
	min-height: 25px;
	z-index: 10;
	font-size: 50px;
	font-family: "lowveticaregular";
	opacity: 0;
	line-height: 0.9;
	transition: ease all 0.5s;
	font-weight: 300;
	border-bottom: 1px solid #fff;
}

.slider-link:hover .slider-link__content {
	opacity: 1;
	transition: ease all 0.5s;
}

.slider-link img {
	transition: ease all 0.5s;
}

.slider-link img {
	margin: 0 auto;
}

.slider-link:hover img {
	opacity: 0.3;
	filter: blur(2px);
	width: 85%;
	margin: 0 auto;
	transition: ease all 0.5s;
}

.content h2{
	border-bottom: 2px ridge #ffffff;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 5px 0px;
	color: #5d5d5d;
	text-shadow: 1px 1px 1px #ffffff;
}

.slider-link:hover,
.slider-link {
	width: 100%;
    height: 360px;
	display: block;
}

.content-head2{

	margin-top: 40px;

	height: 55px;

	background: url(../images/content-head2.png) no-repeat 0px 35px;

}



.content-head2 h2{

	border-bottom: none;

}



body .header-container {

	height: 548px;

	border: none;

	box-shadow: none;

	background: url(../images/head-grid.jpg) center no-repeat;

	background-size: cover;

	width: 100%;

	top: 0;

	z-index: 2;

} 



body .header-container .title{

	background-image: url("../images/bjornknutzen.png");

	background-repeat: no-repeat;

	background-size: 110px 37px;

	background-position: 0;

    height: 37px;

    width: 110px;

	float: left;

	font-size: 0;

	line-height: 0;

	margin: 0;

	padding: 0;

	top: 0;

	margin-top: 12px;

	transition: all 0.4s ease-in 0s;

}



@media only screen and (max-width: 768px) {

	body .header-container .title{

		margin-left: 2%;

	}

}	

 

.menu-mobile{

	display: none;

}



.header-container .html{

	height: 46px;

	width: 42px;	

	float: left;

	display: block;

	background: url("../images/htmlBtn.png");

}



body .main-container {

    margin: auto;

    width: 1170px;

}



body .main-container  section{

	float: left;

	width: 475px;

}



body .main-container  .content{

	width: 100%;

}



body .main-container article {

    font-size: 20px;

    line-height: 1.7;

    margin: 0 auto 20px;

    max-width: 830px;

    width: 100%;

}



body .main-container .content h1{

	margin-top: 0px;

}



.content-head2 {

    background: rgba(0, 0, 0, 0) url("../images/content-head2.png") no-repeat scroll 0 60px;

    height: 80px;

    margin-top: 40px;

}



.content h2 {

    color: #5d5d5d;

    margin: 0;

    padding: 0 0 5px;

    text-shadow: 1px 1px 1px #ffffff;

}



.content h3 {

	margin: 0;

	padding: 0;

	color: #3ca398;

}



.portfolio-content {

    display: inline-block;

    float: left;

    height: 250px;

    max-width: 360px;

    padding: 0 20px;

    text-align: center;

    width: 100%;

}



.portfolio-content .base-description {

    background-image: url("../images/base-description.jpg");

    color: #909090;

    display: inline-block;

    font-size: 32px;

    font-weight: 100;

    margin-bottom: 20px;

    margin-top: -20px;

    transition: all 0.5s ease 0s;

}



.portfolio-item {

    display: inline-block;

    max-width: 1170px;

    width: 100%;

    height: 300px;

    overflow: hidden; 

}



.portfolio-item:nth-of-type(odd) .portfolio-item-link {

	/* display: flex; */

}



@media only screen and (max-width: 1140px) {

	.portfolio-item:nth-of-type(odd) .portfolio-item-link {

		display: flex;

		flex-direction: column;

	}

  }



.portfolio-item-link {

    background: #ffffff none repeat scroll 0 0;

    display: inline-block;

    max-width: 1165px;

	width: 100%;

}



.portfolio-item-link:hover .base-description {

    border-bottom: 2px solid #ff6153;

    color: #ff6153;

    padding-bottom: 10px;

    transition: all 0.5s ease 0s;

}



@media only screen and (max-width: 1140px) {

	.portfolio-content {

		order: 1;

		float: inherit;

	}



	.img-holder {

		order: 2;

		float: inherit;

	}

}



.portfolio-item-link:hover .img-holder {

	background: #ff6153 none repeat scroll 0 0;

}



.portfolio-item-link:hover {

    transition: all 0.5s ease 0s;

}



.portfolio-item-link:hover .img-holder .portfolio-image {

    display: inline-block;

    margin-left: -10%;

    max-width: 120%;

    /*opacity: 0.4;*/

    transition: all 2.5s ease 0s;

    vertical-align: middle;

    width: 120%;

}



.border-bg {

    background: #8f8f8e none repeat scroll 0 0;

    height: 2px;

	margin-left: auto;

	margin-right: auto;

    margin-top: 135px;

    width: 100%;

}



.img-holder {

    display: inline-block;

    float: left;

    max-width: 765px;

    overflow: hidden;

    transition: all 1.5s ease 0s;

    width: 100%;

}



.portfolio-image {

    max-width: 100%;

    transition: all 1.5s ease 0s;

    width: 100%;

}



.portfoliohover p{

	color: #ffffff;

	font-size: 22px;

	font-family: 'lowveticaregular';

	letter-spacing: 2px;

	font-weight: 900;

	background: #000000;

	margin-top: -7px;

	padding-top: 7px;

}  



.portfoliohover .base-description{

	margin-top: 0px;

	padding-top: 2px;

	padding-bottom: 7px;

	border-bottom: 1px solid #000000;

	opacity: 0.8;

}



.portfoliohover:hover{

	opacity:0.90;

	transition: all 0.5s ease;	

	text-indent: 1.5em;	

}



body .main-container section h2{

	text-align: center;

}



body .main-container section p{

	text-align: center;

}



body .footer-container{

	border-top: 3px ridge #d6d6d6;

	background: black;

	height: 4px;

}



body .footer-container h3{

	color: #3b3b3b;

}



.scroll-to-content {

	height: 40px;      /* Give height of your fixed element */

	margin-top: -40px; /* Give negative margin of your fixed element */

	display: block;

}



/* ==========================================================================

   New styles Media Queries

   ========================================================================== */

   

 @media only screen and (max-width: 480px){ 

  

	h2{

		font-size: 30px;

	}



	html {

		background: url(../images/htmlBg.jpg);

	}

	

	.goToTop{

		opacity: 0.9;

		background: url(../images/goUp.png) no-repeat #ffffff;

		bottom: 0;

		border: 5px solid #ffffff;

		

	} 

	

	#slider{

		display: none;

	}



	.menu-mobile{

		display: block!important;

		background: url(../images/mobile-menu.png) no-repeat;

		width: 52px;

		height: 26px;

		float: right;

		color: #ffffff;

		padding-left: 40px;

		margin-top: -22px;

		text-decoration: none;

	}

	

	body .header-container {

		height: 80px;

	}

	

	.behance{

		margin-top: 20px;

		height: 29px;

		width: 29px;

		display: inline-block;

		background-image: url("../images/behance.png");

		transition: all 0.1s ease-out;

	}



	.behance:hover{

		background-position: 0 29px;

		transition: all 0.1s ease-out;

	}



	.linkedin{

		height: 29px;

		width: 29px;

		display: inline-block;

		background: url("../images/linkedin.png");

	}



	.linkedin:hover{

		background-position: 0 29px;

		transition: all 0.1s ease-out;

	}



	nav{

		min-height: 35px;

		float: left;

	}

	

	nav ul {

		width: auto;

		margin-top: 45px;

		margin-left: auto;

		margin-right: auto;

	}

	

	nav ul li{

		height: 20px;

	}

	

	body .main-container  .content{

		margin: 0px;

	}

	

	h2{

		margin: 0px 0px 0px 5%;

	}

			

	.main-container .content h1 {

		font-size: 45px;

	}

	

	

	body .main-container  section{

		padding: 0px;

		margin: 0 ;

		width: 100%;

	}

	

	body .main-container{

		width: 100%;

		padding: 0px;

		margin: 0px;

	}



	 body .main-container .rightSection{

		float: none;

		padding-left: 0px;	

		transition: all 0.5s ease;

	}

	

	body .main-container .leftSection{

		float: none;

		padding-right: 0px;

		transition: all 0.5s ease;

	}	

	

	.portfoliohover{  

		width: 96%!important;

		height: 82%!important;

	}

	

	.footer-container{

		height: 4px!important;	

	}

}



@media only screen and (max-width: 1140px) {



	.menu-mobile{

		display: none;

	}



	#slider{

		padding-left: 50px;

		padding-right: 50px;		

		}



	#slider #active label {

		background: none repeat scroll 0 0 #BBBBBB;

		border-radius: 30px 30px 30px 30px;

		cursor: pointer;

		display: inline-block;

		height: 30px;

		width: 30px;

	}

		

	body .main-container{

		width: 100%;

		padding: 0px;

		margin: 0px;

	}	

	

	body .main-container  .content{

		width: 100%;

		margin: 0px;

	}

	

	body .main-container  section{

		padding: 0px;

		margin: 0 ;

		width: 100%;

	}	

	

	.portfolio-item{

		height: 100%;

	}

	

	.portfolio-image {

		max-width: 100%;

		transition: all 1.5s ease 0s;

		width: 100%;

	}

	

	.portfolio-item-link {

		background: #ffffff none repeat scroll 0 0;

		display: inline-block;

		max-width: 1165px;

		width: 100%;

	}

	

	.img-holder {

		max-width: 100%;

	}



	.img-holder {

		display: inline-block;

		float: left;

		overflow: hidden;

		transition: all 1.5s ease 0s;

		width: 100%;

	}

	

	.portfolio-image {

		max-width: 100%;

		transition: all 1.5s ease 0s;

		width: 100%;

	}	

		

	.portfolio-content {

		display: inline-block;

		float: left;

		height: 150px;

		max-width: 90%;

		padding: 0 20px;

		text-align: center;

		width: 100%;

			order: 1;

	}

	

	.border-bg {

		margin-top: 30px;

	}

	

}





@media only screen and (max-width: 768px) {



	.border-bg{

		margin-top: 30px;

	}



	.portfolio-content {

		height: 70px;

	}



	.portfolio-content p{

		display: none;

	}



	.portfolio-item-link .base-description {

		margin-bottom: 0;

		font-size: 20px;

		transform: translateY(-7px);

	}



    .main-container .wrapper{

        width: 90%;

     }



    .wrapper{

        width: 100%;

    }



	body .header-container .showScrollContainer .menu-mobile{

		transition: all 0.4s ease-in;

		margin-top: 2px;

	}



	body .header-container {

		height: 60px;

		padding-top: 0;

		position: relative;

		background: #82d3b2;

	}

		

	.footer-mobile{

		min-height: 220px;

		max-height: 300px;

		background: #ff5c4f;

	}

	

	.home-mobile{

		padding-top: 10px!important;

	}

      

   footer nav{

		width: 100%;

		float: none;

		display: block!important;		

	}

   

    footer nav ul .link{

		width: 95%;

		font-weight: normal;

		padding-top: 2px;

		margin-top: 10px;

		padding-bottom: 1px;

		background: none;	

		color: #ffffff;

		-webkit-transition: all 0.9s ease-in;

		-moz-transition: all 0.9s ease-in;

		transition: all 0.9s ease-in;

		border-bottom: 1px solid #ffffff;		

		margin-left: 0px;

		padding-left: 0px;

	}

			

	footer nav ul .link:visited{		

		color: #ffffff;		

	}

		

	footer nav ul .link:hover{

		background: #ffffff;

		color: #ff6153;

		border-bottom: 1px solid #ffffff;

		-webkit-transition: all 0.1s ease-out;

		-moz-transition: all 0.1s ease-out;

		transition: all 0.1s ease-out;

		opacity: 0.7;

		text-decoration: none;

	}



	.social{

		width: 58px;

		margin-left: 40%;

	}	

	 

	footer nav ul .behance{

		margin-top: 10px;

		display: inline-block;	

	}



	footer nav ul .linkedin{

		display: inline-block;	

		margin-left: 2%;

	}



   nav .link {

        float: none;

        width: 100%;       

        padding: 25px 2%;

        margin-bottom: 0;

    }



    nav li:first-child .link {

        margin-left: 0;

    }



    nav li:last-child .link{

        margin-right: 0;

    }



	.menu-mobile{

		display: none;

	}

	

	.lb-overlay div h3 {

	  margin: 15%;

	}

	

	h2{

		margin: 0px 0px 0px 5%;

	}



	#slider{

		display: none;		

	}	

				

	body .header-container  nav{

		min-height: 35px;

		float: none;

	}

				

	body .header-container  nav ul {

		width: 380px;

	}

	

	body .main-container{

		width: 100%;

		padding: 0px;

		margin: 0px;

	}

	

	.portfoliohover{  

		width: 96%;

		height: 82%;

	}	

	

	.home-mobile{

		padding-top: 180px;

	}

	

	body .main-container  .content{

		margin: 0px;

	}

	

	body .main-container  section{

		padding: 0px;

		margin: 0 ;

		width: 100%;

	}	

	

	 body .main-container .rightSection{

		float: none;

		padding-left: 0px;	

	}

	

	body .main-container .leftSection{

		float: none;

		padding-right: 0px;

	}

}





/* ==========================================================================

   Media Queries

   ========================================================================== */



  

 

@media only screen and (min-width: 480px) {



/* ====================

    INTERMEDIATE: Menu

   ==================== */

   

    footer nav{

		display: none;

	}   

   

	nav{

		width: 100%;

		float: none;

		display: block;

	}

   

    nav .link {

        float: left;

        width: 21%;

        margin: 0 1.7%;

        padding: 25px 2%;

        margin-bottom: 0;

    }



    nav li:first-child .link {

        margin-left: 0;

    }



    nav li:last-child .link{

        margin-right: 0;

    }



/* ========================

    INTERMEDIATE: IE Fixes

   ======================== */



    nav ul li {

        display: inline;

    }



    .oldie nav .link {

        margin: 0 0.7%;

    }

}



@media only screen and (min-width: 768px) {



/* ====================

    WIDE: CSS3 Effects

   ==================== */



    .header-container,

    .main aside {

        -webkit-box-shadow: 0 5px 10px #aaa;

           -moz-box-shadow: 0 5px 10px #aaa;

                box-shadow: 0 5px 10px #aaa;

    }



/* ============

    WIDE: Menu

   ============ */



    .title {

        float: left;

    }



    nav {

        float: right;

        width: 58%;

    }



/* ============

    WIDE: Main

   ============ */



    .main article {

        width: 57%;

    }



    .main aside {

        float: right;

        width: 28%;

    }

}



@media only screen and (min-width: 1140px) {



/* ===============

    Maximal Width

   =============== */



    .wrapper {

        width:100%; /* 1140px - 10% for margins */

        margin: 0 auto;

		

    }

}



/* ==========================================================================

   Helper classes

   ========================================================================== */



.ir {

    background-color: transparent;

    border: 0;

    overflow: hidden;

    *text-indent: -9999px;

}



.ir:before {

    content: "";

    display: block;

    width: 0;

    height: 100%;

}



.hidden {

    display: none !important;

    visibility: hidden;

}



.visuallyhidden {

    border: 0;

    clip: rect(0 0 0 0);

    height: 1px;

    margin: -1px;

    overflow: hidden;

    padding: 0;

    position: absolute;

    width: 1px;

}



.visuallyhidden.focusable:active,

.visuallyhidden.focusable:focus {

    clip: auto;

    height: auto;

    margin: 0;

    overflow: visible;

    position: static;

    width: auto;

}



.invisible {

    visibility: hidden;

}



.clearfix:before,

.clearfix:after {

    content: " ";

    display: table;

}



.clearfix:after {

    clear: both;

}



.clearfix {

    *zoom: 1;

}



/* ==========================================================================

   Print styles

   ========================================================================== */



@media print {

    * {

        background: transparent !important;

        color: #000 !important; /* Black prints faster: h5bp.com/s */

        box-shadow: none !important;

        text-shadow: none !important;

    }



    a,

    a:visited {

        text-decoration: underline;

    }



    a[href]:after {

        content: " (" attr(href) ")";

    }

    /*

     * Don't show links for images, or javascript/internal links

     */



    .ir a:after,

    a[href^="javascript:"]:after,

    a[href^="#"]:after {

        content: "";

    }



    pre,

    blockquote {

        border: 1px solid #999;

        page-break-inside: avoid;

    }



    thead {

        display: table-header-group; /* h5bp.com/t */

    }



	nav {

		float: right;

		width: 58%;

	}

	nav {

		display: block;

		float: none;

		width: 100%;

	}

	

	nav .link {

		float: left;

		margin: 0 1.7%;

		padding: 25px 2%;

		width: 21%;

		background: #e44d26 none repeat scroll 0 0;

		color: white;

		display: block;

		font-weight: bold;

		margin-bottom: 10px;

		padding: 15px 0;

		text-align: center;

		text-decoration: none;

		}

	

    tr,

    img {

        page-break-inside: avoid;

    }



    img {
        max-width: 100% !important;

    }

    @page {

        margin: 0.5cm;

    }



	

	nav ul li {

		display: inline;

		text-align: right;

	}

	

    p,

    h2,

    h3 {

        orphans: 3;

        widows: 3;

    }



    h2,

    h3 {

        page-break-after: avoid;

    }

}