
body{
	background-image: url(../images/body.jpg);


}

#header{
	height: 50px;
	width: 100%;
	position: fixed;
	background-image: url(../images/body.jpg);
}

#logos{
	height: 50px;
	width: 1014px;
	margin: auto; 
	margin-top: 5px;
}

#title{
	float: right;
	margin: 0;
	padding-top: 10px;
}

h1{
	font-family: arial,helvetica;
	font-size: 32px;
	float: right;
	margin: 0;
	color: #ffffff;
}

#video{
	width :800px;
	height: 465px;
}

#footer-video{
	height: 50px;
	width: 100%;
	background: url(../images/bgfooter.png) repeat-x;
}

#container{
	min-height: 550px;
	width: 1024px;
	margin-bottom: 10px;
	margin: auto;
}	

#content{
	padding: 65px 0px 0px 115px;
	background: url(../images/bgvideo.png) no-repeat ;
}


	
.inner-content{
	padding: 65px 0px 0px 0px;
}
	
.subcontent{
	height: 612px;
}

ul{
	color: #ffffff;
	line-height: 35px;
}

.description{
	width: 660px;
	padding-left: 20px;
}

.description-next{
	width: 660px;
	padding-left: 333px;	
	padding-bottom: 20px;
}

p{
	font-family: calibri,arial,helvetica;
	font-size: 16px;
	color: #ffffff;
	margin: 0px;
}




